<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\recommend.css">
    <title>book recommendation</title>
</head>
<body>
    <nav class="navbar" style="background-color: rgb(86, 193, 157);">
        <p class="navbar-brand"><h1>book recomender</h1></p>
        <ul class="navbar-ul">
            <li><a href="/">Home</a></li>
            <li><a href="#">Recommend</a></li>
            <li><a href="">contact</a></li>
        </ul>
    </nav>
    
    <div class="Container">
        <div class="row">
            <div class="col-12">
                <h1>Recommend</h1>
                <form action="/recommend_books" method="post">
                    <label for="user_input">Your Input:</label>
                    <input name="user_input" type="text" class="form-control" id="user_input" placeholder="Enter your input here"><br>
                    <input type="submit" class="form-submit">
                </form>
            </div>

            <div class="recommend-grid">
            {% if data %}
                {% for i in data %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="{{i[2]}}" alt="">
                            <p>{{i[0]}}</p>
                            <p>{{i[1]}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            </div>            
            

        </div>
    </div>
</body>
</html>